:root {
    --orange: #ff9100;
    --black: #171717;
    --blue: #08182b;
    --white: #fafafa;
    --gray: #828282;
    --gray-dark: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    font-family: "DM Sans", cursive;
    color: var(--white);
}

.flex {
    display: flex;
    justify-content: space-between;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    margin: 0 auto;
    height: 50px;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    justify-content: flex-start;
    font-weight: 500;
}
.logo a {
    font-size: 26px;
    font-weight: 700;
}

.logo a:hover {
    color: var(--orange);
}

header nav {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

header nav a:hover {
    color: var(--orange);
}

a {
    text-decoration: none;
    color: var(--white);
}

.banner {
    margin: 0 auto;
    height: 400px;
    width: 100%;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p {
    color: var(--gray);
}

.banner .info {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

i {
    font-size: 20px;
    margin-right: 10px;
}

.flex a {
    color: var(--black);
}

.btn-download {
    background-color: var(--orange);
    font-size: 14px;
    font-weight: 500;
    height: 42px;
    width: 143px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
}

.btn-contato {
    background-color: var(--black);
    color: var(--gray);
    border: 1px solid var(--gray);
    font-size: 14px;
    font-weight: 500;
    height: 42px;
    width: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.banner h4 {
    color: var(--orange);
    font-size: 36px;
}

.avatar {
    width: 200px;
}

.avatar img {
    border-radius: 50%;
    border: 4px solid var(--orange);
    width: 100%;
}
.sobre-mim {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre {
    width: 745px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.sobre h4 {
    font-size: 32px;
    font-weight: 700;
}

.sobre p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.social-main {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 100px;
}

.social-main .container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    background-color: var(--black);
}

.item-social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.item-social .title {
    color: var(--white);
}

.img-social {
    width: 62px;
    height: 62px;
    background-color: var(--gray-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
}
.img-social i {
    font-size: 30px;
    color: var(--orange);
    margin: 0 auto;
}

.projetos {
    width: 100%;
    height: auto;
}
.projetos h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
.projetos .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 600px;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    align-content: space-around;
    justify-items: center;
}

.proj {
    width: 350px;
    height: 240px;
    background-color: var(--gray-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 25px;
}

.proj-content {
    width: 300px;
    height: 130px;
    background-color: var(--black);
    margin-bottom: 25px;
}

.proj-title {
    font-size: 18px;
    font-weight: 500;
    color: var(--orange);
}

.servicos {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
.servicos h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.servicos .container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    justify-items: center;
    margin: 0 auto;
    padding-bottom: 10x;
}

.sites,
.sistemas,
.responsivos {
    width: 350px;
    height: 240px;
    background-color: var(--gray-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 25px;
    border-bottom: 3px solid var(--orange);
}

.servicos i {
    font-size: 50px;
    color: var(--orange);
}

.servicos .title {
    font-size: 32px;
    font-weight: 500;
}

@media (max-width: 900px) {
    
    .sobre {
        width: 80%;
        height: auto;
    }
    .sobre p {
        text-align: justify;
    }

    .projetos h2 {
        width: 100%;
        margin-bottom: 100px;
    }
    .projetos .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 80%;
    }
    .proj {
        margin: 0 5px 10px 5px;
    }
}
